table{
  margin: auto;
  padding-top: 50px;
  border-style: solid;
}
label{
  font-family: sans-serif;
  font-size: 1.5rem;
  color: Gray;
}

input{
  width: 10rem;
  height: 2rem;
}
button{
  height: 2rem;
}
td{
  padding: 0 50px;
}
h1{
  font-family: sans-serif;
  font-size: 2rem;
}
p{
  font-family: serif;
  font-size: 1.3rem;
  color: Gray;
}

.btn{
  margin-top: 50px;
  margin-left: 650px;
  background-color: grey;
  width: 7rem;
}
.heading{
  font-size: 5rem;
  margin-left: 400px;
}

#bill{
  width: 13rem;
  height: 2rem;
}
#total{
  font-size: 3rem;
  color: black;
}
#tpp{
  font-size: 3rem;
  color: black;
}
#dollar{
  font-size: 3rem;
  color: black;
}
.btn:hover{
  background-color: black;
  color: grey;
}
.heading:hover{
  color: Gray;
}
